# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Sensitive Terraform variable files
*.tfvars.json

# Terraform provider binaries
terraform-provider-*.exe