# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
crash.log

# Secrets
.env
*.pem
*.key
*.p12
*.pfx

# Kubernetes
.kube/
kubeconfig*

# Python
__pycache__/
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log